<div class="main-container inner">
  <!-- start: PAGE -->
  <div class="main-content">
    <!-- start: PANEL CONFIGURATION MODAL FORM -->
    <div class="modal fade" id="panel-config" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Panel Configuration</h4>
          </div>
          <div class="modal-body">Here will be a configuration form</div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <!-- end: SPANEL CONFIGURATION MODAL FORM -->
    <div class="container">
      <!-- start: PAGE HEADER -->
      <!-- InstanceBeginEditable name="content" -->
      <!-- start: PAGE HEADER -->
      <!-- start: TOOLBAR -->
      <div class="toolbar row">
        <div class="col-sm-6 hidden-xs">
          <div class="page-header">
            <h3>
              <i class="menu_icon"></i>&nbsp;用户管理
<!--              <small>会社管理マスター</small>-->
            </h3>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="toolbar-tools pull-right">
            <!-- start: TOP NAVIGATION MENU -->
            <ul class="nav navbar-right">
              <!-- start: TO-DO DROPDOWN -->
              <li class="dropdown">
<!--                <button class="btn btn-orange add-row" onClick="javascript:location.href='new.html'">-->
<!--                  新規登録 <i class="fa fa-plus"></i>-->
<!--                </button>-->
              </li>
              <!--<li class="dropdown">
                <button class="btn btn-blue add-row" onClick="javascript:location.href='password.html'">
                  パスワード変更
                </button>
              </li>-->
            </ul>
            <!-- end: TOP NAVIGATION MENU -->
          </div>
        </div>
      </div>
      <!-- end: TOOLBAR -->
      <!-- end: PAGE HEADER -->
      <!-- start: BREADCRUMB -->
      <div class="row buttonSp">
        <div class="col-md-12">
          <ol class="breadcrumb">
            <li>
              <a href="/user/admin/company/list.html">
                用户管理
              </a>
            </li>
            <li class="active">
              用户列表
            </li>
          </ol>
        </div>
        <div class="col-md-12">
        <span class="buttonSpSpan">
<!--            <button class="btn btn-orange add-row" onClick="javascript:location.href='new.html'">-->
<!--                新規登録 <i class="fa fa-plus"></i>-->
<!--            </button>-->
        </span>
        </div>
      </div><!-- end: BREADCRUMB -->

      <div class="row">
        <div class="col-md-12">
          <!-- start: FORM VALIDATION 1 PANEL -->
          <div class="panel panel-white">
            <div class="panel-heading">
              <h4> <i class="fa fa-search"></i>查询</h4>
              <div class="panel-tools">
                <div class="dropdown">
                  <a class="panel-collapse collapses" href="#"> <i class="fa fa-angle-up"></i>
                    <span>可折叠</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="panel-body">
              <p>请输入搜索条件。</p>
              <hr>
              <form method="GET"  accept-charset="UTF-8" role="form" novalidate>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="control-label">用户名</label>
                      <input class="form-control" type="text" value="">
                    </div>
<!--                    <div class="form-group">-->
<!--                      <label class="control-label">会社名（フリガナ）</label>-->
<!--                      <input class="form-control" type="text" value="">-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                      <label class="control-label">郵便番号</label>-->
<!--                      <input class="form-control" type="text" value="">-->
<!--                    </div>-->
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="control-label">手机号</label>
                      <input class="form-control" type="text" value="">
                    </div>
<!--                    <div class="form-group">-->
<!--                      <label class="control-label">住所</label>-->
<!--                      <input class="form-control" type="text" value="">-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                      <label class="control-label">電話番号</label>-->
<!--                      <input class="form-control" type="text" value="">-->
<!--                    </div>-->
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3"></div>
                  <div class="col-md-3">
                    <button class="btn btn-info btn-block" type="submit">
                      查询
                      <i class="fa fa-search"></i>
                    </button>
                  </div>
                  <div class="col-md-2">
                    <button class="btn btn-yellow btn-block W150" type="reset">
                      清空条件
                      <i class="fa fa-rotate-left"></i>
                    </button>
                  </div>
                  <div class="col-md-4"></div>
                </div>
              </form>
            </div>
          </div>
          <!-- end: FORM VALIDATION 1 PANEL --> </div>
      </div><div class="row">
      <div class="col-md-12">
        <!-- start: DYNAMIC TABLE PANEL -->
        <div class="panel panel-white">
          <div class="panel-heading">
            <h4 class="panel-title">
              <i class="fa fa-list"></i>
              検索結果
              <span class="text-bold">会社一覧</span>
            </h4>
            <div class="panel-tools">
              <div class="dropdown">
                <a data-toggle="dropdown" class="btn btn-xs dropdown-toggle btn-transparent-grey">
                  <i class="fa fa-cog"></i>
                </a>
                <ul class="dropdown-menu dropdown-light pull-right" role="menu">
                  <li>
                    <a class="panel-collapse collapses" href="#"><i class="fa fa-angle-up"></i> <span>可折叠</span> </a>
                  </li>
                  <li>
                    <a class="panel-refresh" href="#">
                      <i class="fa fa-refresh"></i> <span>刷新数据</span>
                    </a>
                  </li>
                  <li>
                    <a class="panel-expand" href="#">
                      <i class="fa fa-expand"></i> <span>全屏展示</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="panel-body">
            <div id="sample_1_wrapper" class="dataTables_wrapper no-footer">
              <table class="table table-striped table-bordered table-hover table-full-width dataTable no-footer" id="sample_1" role="grid" aria-describedby="sample_1_info">
                <thead>
                <tr role="row">
                  <th>No</th>
                  <th>用户名</th>
                  <th>手机号</th>
                  <th>邮箱</th>
                  <th>地址</th>
                  <th>等级</th>
                  <th>积分</th>
                  <th>加入时间</th>
                  <th>登录总时间</th>
                  <th>练习时间</th>
                  <th>分享次数</th>
                  <!--<th>登録アンケート<br>回答URL</th>-->
                  <th width="10%">操作</th>
                </tr>
                </thead>
                <tr role="row">
                  <td>1</td>
                  <td>kk</td>
                  <td>12345633</td>
                  <td>12345633@123</td>
                  <td>北京</td>
                  <td>22</td>
                  <td>44</td>
                  <td></td>
                  <td align="center">100</td>
                  <td align="center">100</td>
                  <td align="center">100</td>
                  <!--<td><a href="http://html.fortune.a-it.jp?p=1257813546" target="_blank">http://html.fortune.a-it.jp?p=1257813546</a></td>-->
                  <td class="center">
                    <div class="visible-md visible-lg visible-sm visible-xs">
                      <a href="add.html" >
                        详细
                      </a> |
                      <a href="edit.html">
                        编辑
                      </a> |
                      <a href="#" data-method="delete" data-confirm="会社を削除します。">
                        删除
                      </a>
                    </div>

                  </td>
                </tr>
                <tr role="row">
                  <td>2</td>
                  <td>kk</td>
                  <td>12345633</td>
                  <td>12345633@123</td>
                  <td>北京</td>
                  <td>22</td>
                  <td>44</td>
                  <td></td>
                  <td align="center">100</td>
                  <td align="center">100</td>
                  <td align="center">100</td>
                  <!--<td><a href="http://html.fortune.a-it.jp?p=1257813546" target="_blank">http://html.fortune.a-it.jp?p=1257813546</a></td>-->
                  <td class="center">
                    <div class="visible-md visible-lg visible-sm visible-xs">
                      <a href="add.html" >
                        详细
                      </a> |
                      <a href="edit.html">
                        编辑
                      </a> |
                      <a href="#" data-method="delete" data-confirm="会社を削除します。">
                        删除
                      </a>
                    </div>

                  </td>
                </tr>
                <tr role="row">
                  <td>3</td>
                  <td>kk</td>
                  <td>12345633</td>
                  <td>12345633@123</td>
                  <td>北京</td>
                  <td>22</td>
                  <td>44</td>
                  <td></td>
                  <td align="center">100</td>
                  <td align="center">100</td>
                  <td align="center">100</td>
                  <!--<td><a href="http://html.fortune.a-it.jp?p=1257813546" target="_blank">http://html.fortune.a-it.jp?p=1257813546</a></td>-->
                  <td class="center">
                    <div class="visible-md visible-lg visible-sm visible-xs">
                      <a href="add.html" >
                        详细
                      </a> |
                      <a href="edit.html">
                        编辑
                      </a> |
                      <a href="#" data-method="delete" data-confirm="会社を削除します。">
                        删除
                      </a>
                    </div>
                  </td>
                </tr>
              </table>
              <div class="dataTables_info" role="status" aria-live="polite">
                共9件1-3在显示
              </div>
              <div class="dataTables_paginate paging_simple_numbers"><ul class="pagination"><li class="disabled"><span>«</span></li> <li class="active"><span>1</span></li><li><a href="#">2</a></li><li><a href="#">3</a></li><li><a href="#">4</a></li><li><a href="#">5</a></li> <li><a href="#" rel="next">»</a></li></ul></div>
            </div>
          </div>
        </div>
        <!-- end: DYNAMIC TABLE PANEL -->
      </div>
    </div>
      <!-- InstanceEndEditable -->
      <!-- end: PAGE HEADER -->
    </div>
    <div class="subviews">
      <div class="subviews-container"></div>
    </div>
  </div>
  <!-- end: PAGE -->
</div>