<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- Page title -->
  <title></title>
  <%= javascript_include_tag 'login_application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'login_application', 'media' => 'all', 'data-turbolinks-track' => true %>
</head>
<body class="login">

<!-- Simple splash screen-->
<!--<div class="splash"> <div class="color-line"></div><div class="splash-title"><h1>カタリベCMS</h1><p>ページ読み込み中... </p><div class="spinner"> <div class="rect1"></div> <div class="rect2"></div> <div class="rect3"></div> <div class="rect4"></div> <div class="rect5"></div> </div> </div> </div>-->
<!--[if lt IE 7]>
<p class="alert alert-danger">You are using an <strong>outdated</strong> browser.
<![endif]-->

<div class="color-line"></div>

<div class="login_top_links">
  <!--<a href="#"><i class="fa fa-question-circle"></i> HELP</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#"><i class="fa fa-commenting"></i> お問い合わせ</a>-->
</div>
<div class="login-container">
  <div class="row">
    <div class="col-md-12">
      <div class="text-center m-b-md">
        <h3></h3>
        <!-- <small>管理画面</small>-->
      </div>
      <div class="hpanel">
        <div class="panel-body">
          <hr>
          <%= form_tag(login_user_index_path) do %>
            <div class="form-group">
              <label class="control-label" for="username">用户名</label>
              <span class="input-icon">
                                    <input type="text" style="ime-mode:disabled;" class="form-control" name="phone" placeholder="请输入用户名->admin" value="<%= params[:phone] %>">
                                <i class="fa fa-user"></i> </span>

            </div>
            <div class="fform-group form-actions">
              <label class="control-label" for="username">密码</label>
              <span class="input-icon">
									<input type="password" class="form-control password" name="password" placeholder="请输入密码->admin" value="<%= params[:password] %>">
									<i class="fa fa-lock"></i>
                                </span>
            </div>
            <div class="form-actions">
              <button type="submit" class="btn btn-green pull-right">
                登陆 <i class="fa fa-arrow-circle-right"></i>
              </button>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      2017 &copy; Copyright(C) leyi Inc. All Rights Reserved.
    </div>
  </div>
</div>

</body>
</html>
<script type="text/javascript">
    $(function () {
        if (toastr) {
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": true,
                "progressBar": false,
                "positionClass": "toast-top-center",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "0",
                "extendedTimeOut": "0",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };
            <% flash.each do |key, value| %>
            <% if value.present? %>
            toastr.<%= switch_key(key) %>('<%= value.html_safe %>');
            <% end %>
            <% end %>
            <%- flash.clear() -%>
        }
    });
</script>