/* CSS Document */

/* ========== START COMMON ========== */
.f_r{float:right}
.pd10{padding:10px;}
.mb10{margin-bottom:10px;}
.mb20{margin-bottom:20px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mr20{margin-right:20px;}
.mr5{margin-right:5px;}
.ml5{margin-left:15px;}

.gray{color:#999;}
.red{ color:red;}
.fontSize18{font-size:18px;}
.fontSize20{font-size:20px;}
.cb{clear:both;}

/* ========== END COMMON ========== */

.h4-title{
    border-left:3px solid #d0121b;
    padding-left:10px;
}
.h4-title_blue{
  border-left:3px solid blue;
  padding-left:10px;
}

.h5_title {
    font-size: 18px;
    font-weight: bold;
    padding-left: 15px;
    color: #373530;
    background: image-url('analysts/dot_icon.png') no-repeat left center;
}
.h5_title_blue {
  font-size: 18px;
  font-weight: bold;
  padding-left: 15px;
  color: #373530;
  background: image-url('analysts/dot_icon_blue.png') no-repeat left center;
}
.user_info .tag{
    background-color:#5bc0de;
    padding:3px;
    margin-right:10px;
    border-radius:3px;
    -webkit-border-radius:3px;
    color:#fff;
    display:block;
}
.Tuser_data{
    border-collapse:collapse;
    background:#ffffee;
}
.Tuser_data th,.Tuser_data td{
    border-bottom:1px dotted #ccc;
    padding:10px;
}
.user_data dt{
    width:70px;
    display:inline-block;

}
.user_data dd{
    display:inline-block;
}

.user_strong{
    background-color:#f2f2f2;
    padding:10px;
    text-align:center;
    font-size:14px;
}
.user_strong .tit,.yellow_strong .tit{
    font-weight:bold;
    font-size:18px;
}
.yellow_strong{
  background-color:#faf5e1;
  padding:10px;
  text-align:center;
  font-size:14px;
}
.completeDiv{
    font-size:18px;
    text-align:center;
}

.people_text{
    color:#d0121b;
    display:inline-block;
    margin-top: 10px;
    margin-right:10px;
    text-align: center;
    font-size: 14px;
}
.summary_price{
    font-size:18px;
    font-weight:bold;
}

.group_box{
    position:relative;
    margin:0 auto;
    width:680px;
}

.group_box .people{
    position:absolute;

}
.group_box .people .people_img{
    border-radius:50px;
}
.group_box .people font{
    display:block;
    text-align:center;
}
.group_box .people font.name{
    border:1px solid #ddd;
    padding:3px;
    background-color:#efefef;
    margin-bottom:1px;
}
.group_box .people font.tag{
    border:1px solid #ddd;
    padding:3px;
}
.pop_box{
    position:absolute;
    background:image-url('analysts/pop_bg.png') no-repeat left top;
    padding:10px;
    border-radius:10px;
    width:171px;
    height:175px;
    text-align:center;
    /*display:none;*/
}
.people_detailBox{
    padding:15px;
}
.people_detailBox .img{
    float:left;
    margin-right:10px;
}
.people_detailBox .people_inf{
    font-size:14px;
}
.people_inf table{
    margin-top:-10px;
}
.people_inf table th{
    /*background-color:#efefef;*/
    color:#333;
}
.people_inf table th,
.people_inf table td{
    padding:10px;
    border-bottom:1px dotted #ddd;

}
.ztree_div ul.ztree{
    height:780px;
}

.anquete_div label.control-label{
    color: #7F7F7F;
    font-size: 14px;
    margin-top: 5px;
    font-weight: bold;
}

.btn_collapse a{
    border-left: 3px solid #ec3b44;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 10px 0;
    display: block;
    color:#333;
    background: #ebe7d2 image-url('analysts/icon_minus.png') no-repeat 99% center;
}
/*.btn_collapse a{
	background-image: image-ur('analysts/arrow_up.png');
	background-repeat:no-repeat;
	background-position:15px 50%;
}*/
.btn_collapse a.collapsed{
    background: #ebe7d2 image-url('analysts/icon_plus.png') no-repeat 99% center;
}


.analyst_result{
    margin-top:-25px;
}



.member_detail_div a{
    color:#333;

}
.member_detail_div .member_detail_ul .member_detail_li a{
    background:#ebe7d2 image-url('user/icon_plus.png') no-repeat 99% center;
    border-left:3px solid #ec3b44;
    padding:10px;
    font-size:20px;
    font-weight:bold;
    margin:0 0 10px 0;
    display:block;
}
.member_detail_div .member_detail_ul .member_detail_li a.cur{
    background:#ebe7d2 image-url('user/icon_minus.png') no-repeat 99% center;
}
.member_detail_div .member_detail_ul .member_detail_li .member_detail_subul{
    display:none;
}

.sub_section_div {
    padding: 20px;
    border: 1px solid #ccc;
}

.list_text{
    padding:10px 0;
    border-bottom:1px solid #eee;
}
.btn-border{
    border:1px solid #ccc;
    background-color:#fff;
}

.btn-select{
    border:1px solid #555;
    background-color:#555;
    color:#fff;
}
.btn-select:focus,.btn-select:hover{color:#fff;}


.tInformation,.tform{
    border-collapse:collapse;
    border:1px solid #ccc;
}
.tInformation th,.tInformation td{
    padding:10px;
    border:1px solid #ccc;
    text-align:center;
}
.tform th,.tform td{
    text-align:left;
    padding:10px 30px;
    border:1px solid #ccc;
}
.tInformation th{
    background:#ffffee;
}
.tform th{
    background:#ffffee;
}
.tInformation span.click_text{
    cursor:pointer;
}
.tInformation td.tds:hover{
    background-color:#ffff00;
}
.tInformation td.td_selected{
    background-color:#ffff00;
}
.lightYellow_div{
    padding:10px;
    border:1px solid #ccc;
    background:#fffef5;
}

.other_people_box{
    background-color:#d7f6ff;
    padding:10px;
}
.my_box{
    background-color:#fcfcca;
    border:2px solid #ccc;
    padding:10px;
}
.Tuser_dataRed{
    background:#c0504d;
    padding:2px 20px;
    display:inline-block;
    color:#fff;
    border-radius:5px;
}
.arearDiv{
    padding:10px;
    background:#ffebe5;
    border:1px solid #f0b3a3;
    margin:10px auto;
    height:200px;
}
.arearDiv01{
    padding:10px;
    background:#d5ecff;
    border:1px solid #81baeb;
    margin:10px auto;
    height:200px;
}
.btn_favorite_right{
    position:absolute;
    right:0;
    top:-5px;
}

.sp_width{
  display: none;
}
.pc_width{
  display: block;
}
@media screen and (max-width: 768px) { /*当屏幕尺寸小于768px时，应用下面的CSS样式*/
    .pc_width{
      display: none;
    }
  .sp_width{
    display: block;
  }
    .people_text,.toolbar {

        display:none;

    }
    .navbar-right{
        display:block;
    }
    .btn{
        margin-bottom:2px;
    }
    .Tuser_data th,.Tuser_data td{
        display:block;
        border:none;
        word-break:break-all;
    }
    .Tuser_data td{
        border-bottom:1px dotted #ccc;
    }
    .topbar .container {
        background:none;
    }
    .navbar-logo{

    }
    .topbar .container .navbar-header .navbar-brand{
        top:10px;
        left:50%;
        margin-left:-65px;
    }
    .Tuser_dataPc{
        display:none;
    }

    .Tuser_dataSp p {
      display: inline-block;
    }


  .member_detail_div .member_detail_li iframe{width: 100%;}

}
@media screen and (min-width: 769px) {
    .navbar-logo,.topbar .container .navbar-header .navbar-brand,.navbarLogo,.Tuser_dataSp{
        display:none;
    }
}

table.table {
    clear: both;
    margin-top: 5px !important;
    margin-bottom: 6px !important;
    max-width: none !important;
    word-wrap: break-word;
    word-break: break-all;
}

.breadcrumb > li + li:before{
    content:"\003e";
}

.metalTitle{
  background:#fff;
  padding:10px;
  border:3px solid #ccc;
  font-size:16px;
  font-weight:bold;
  min-height:90px;
}
.metalTitleOn{
  background:#fff;
  padding:10px;
  border:3px solid #2f528f;
  font-size:16px;
  font-weight:bold;
  color:#2f528f;
  min-height:90px;
}
.metalA{
  color:#000;
}

//.form-control {
//  display: block;
//  width: 100%;
//  height: 34px;
//  padding: 6px 12px;
//  font-size: 14px;
//  line-height: 1.42857143;
//  color: #8B91A0;
//  background-color: #fff;
//  background-image: none;
//  border: 1px solid #ccc;
//  border-radius: 4px;
//  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
//  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
//  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
//  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
//}

textarea, select, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
  background-color: #FFFFFF;
  border: 1px solid #E6E8E8;
  border-radius: 0 0 0 0 !important;
  color: #333;
  /* font-family: inherit; */
  font-size: 14px;
  line-height: 1.2;
  padding: 5px 4px;
  transition-duration: 0.1s;
  box-shadow: none !important;
  -webkit-transition: 300ms ease-in-out;
  -moz-transition: 300ms ease-in-out;
  -ms-transition: 300ms ease-in-out;
  -o-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}


ul.faqList,ul.faqList li{
  margin:0;
  padding:0;
}
ul.faqList li {
  list-style:none;
  border: solid 1px #c4d698;
  margin-bottom: 25px;
}
ul.faqList li h3 {
  background: image-url('user/faq_q.png') no-repeat 10px 10px #e0edc1;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 20px 10px 50px;
  border-bottom: inherit;
  margin:0;
  line-height:25px;
  position:relative;
}
ul.faqList li .an{
  display:none;
}
ul.faqList li .answer {
  position: relative;
  background: image-url('user/faq_a.png') no-repeat 10px 10px;
  padding: 15px 10px 15px 50px;
}
.icon_qa{
  position:absolute;
  right:10px;
  top:50%;
  margin-top:-12px;
}
.catAreaWrap {
  padding: 17px 15px 10px;
  border: 1px solid;
  position: relative;
  margin-top: 10px;
  margin-bottom: 15px;
}
.catAreaWrap .title {
  position: absolute;
  background: #fff;
  line-height: 1;
  top: -0.5em;
  padding: 0 10px;
  font-size: 14px;
}
.catAreaWrap .catArea a {
  margin: 0px 5px 5px 0px;
  line-height: 1;
  padding: 6px 8px 4px;
  border-radius: 3px;
  display: inline-block;
  color: #fff;
  background: #333;
}
.contents_more {
  text-align: right;
  display: block;
   a:hover, a:active {
    outline: 0 !important;
    text-decoration: none !important;
    opacity: 0.7;
  }
}

.contents_more a {
  color: #d1121b;
  font-weight: bold;
}