
		<!-- start: TOPBAR -->
		<header class="topbar navbar navbar-fixed-top inner ">
			<div class="color-line"></div>
			<div id="logo" class="light-version">
              <%= image_tag '', :height => '52' %>
				<!--<span>ビジネスナビ</span>-->
			</div>
      <div class="container">
        <div class="navbar-header">

        </div>
			<!-- start: TOPBAR CONTAINER -->
				<div class="topbar-tools">
					<!-- start: TOP NAVIGATION MENU -->
					<ul class="nav navbar-right">
						<!-- start: USER DROPDOWN -->
						<li class="dropdown current-user">
							<a data-toggle="dropdown" class="dropdown-toggle" data-stopPropagation="true" href="#">
                <%= image_tag 'anonymous.jpg' ,:class => 'img-circle',:width => '30',height: '30',:style=>'display:inline-block; line-height:30px; vertical-align: middle; overflow:hidden;'%>
                <span class="username hidden-xs">管理者</span>
								<i class="fa fa-caret-down "></i>
							</a>

							<ul class="dropdown-menu">
                <li>
                  <a href="#">个人信息</a>
                </li>
                <li>
                  <a href="#">密码变更</a>
                </li>
								<li>
									<a href="#">退出登陆</a>
								</li>
							</ul>
						</li>
					</ul>
					<!-- end: TOP NAVIGATION MENU -->
				</div>
			</div>
			<!-- end: TOPBAR CONTAINER -->
		</header>
		<!-- end: TOPBAR -->
		<!-- start: PAGESLIDE LEFT -->
		<a class="closedbar inner hidden-sm hidden-xs" href="#"></a>
		<nav id="pageslide-left" class="pageslide inner">
			<div class="navbar-content">
				<!-- start: SIDEBAR -->
				<div class="main-navigation left-wrapper transition-left">
					<div class="navigation-toggler hidden-sm hidden-xs">
						<a href="#main-navbar" class="sb-toggle-left"></a>
					</div>
					<div class="user-profile border-top padding-horizontal-10 block">
						<div class="inline-block">
                          <span class="fileupload-preview fileupload-exists thumbnail" style="line-height: 42px;text-align: center;width:50px;height: 50px;display: block;">
                              <%= image_tag 'anonymous.jpg' ,:class => 'img_style',:style=>'display: inline-block;vertical-align: middle;max-height: 100%;'%>
                            </span>
                        </div>
						<div class="inline-block">
							<h5 class="no-margin"></h5>
							<h4 class="no-margin">管理者</h4>

						</div>
					</div>
					<!-- start: MAIN NAVIGATION MENU -->
                  <%= render :partial => '/common/menu' %>

					<!-- end: MAIN NAVIGATION MENU -->
				</div>
				<!-- end: SIDEBAR -->
			</div>
			<div class="slide-tools">
				<div class="col-xs-6 text-left no-padding">
				</div>
				<div class="col-xs-6 text-right no-padding">
					<a class="btn btn-sm log-out text-right" href="#">
						<i class="fa fa-power-off"></i> 退出登陆
					</a>
				</div>
			</div>
		</nav>
		<!-- end: PAGESLIDE LEFT -->