
<ul class="main-navigation-menu">
  <li class="main-navigation-menu-default">
    <a href="#" data-turbolinks="false">
      <i class="fa fa-home"></i> <span class="title"> 主页 </span><span class="label label-default pull-right "></span>
    </a>
  </li>

  <li class='main-navigation-menu-account' style="display:block">
    <a href="javascript:void(0)">
      <i class="fa fa-users"></i> <span class="title">用户管理 </span><i class="icon-arrow"></i>
    </a>
    <ul class="sub-menu">
      <li>
        <a href="#"  data-turbolinks="false">
          <i class="fa fa-list"></i><span class="title">用户列表</span>
        </a>
      </li>
      <li>
        <a href="#"  data-turbolinks="false">
          <i class="fa fa-pencil"></i>  <span class="title">用户分析</span>
        </a>
      </li>
    </ul>
  </li>

  <li class='main-navigation-menu-lp-manage'>
    <a href="javascript:void(0)">
      <i class="fa fa-music"></i> <span class="title">曲目管理 </span><i class="icon-arrow"></i>
    </a>
    <ul class="sub-menu">
      <li>
        <a href="#"  data-turbolinks="false">
          <i class="fa fa-list"></i>  <span class="title">曲目列表</span>
        </a>
      </li>
    </ul>
  </li>

<!--  <li class='main-navigation-menu-data'>-->
<!--    <a href="javascript:void(0);" class="active">-->
<!--      <i class="fa fa-cubes"></i> <span class="title">入稿URL管理 </span> <i class="icon-arrow"></i>-->
<!--    </a>-->
<!--    <ul class="sub-menu">-->
<!--      <li>-->
<!--        <a href="/draft/list" data-turbolinks="false">-->
<!--          <i class="fa fa-money"></i><span class="title"> 入稿URL一覧 </span>-->
<!--        </a>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </li>-->

<!--  <li class='main-navigation-menu-access'>-->
<!--    <a href="javascript:;" class="active">-->
<!--      <i class="fa fa-graduation-cap"></i> <span class="title">アクセス集計・請求確認 </span> <i class="icon-arrow"></i>-->
<!--    </a>-->
<!--    <ul class="sub-menu">-->
<!--      <li>-->
<!--        <a href="/draft/access_analysis" data-turbolinks="false">-->
<!--          <i class="fa fa-line-chart"></i><span class="title"> 入稿URLごとのアクセス集計 </span>-->
<!--        </a>-->
<!--      </li>-->
<!--      <li>-->
<!--        <a href="/draft/use_situation" data-turbolinks="false">-->
<!--          <i class="fa fa-bookmark"></i><span class="title"> ご利用状況確認 </span>-->
<!--        </a>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </li>-->

  <li class='main-navigation-menu-application'>
    <a href="javascript:void(0)">
      <i class="fa fa-gear"></i> <span class="title">设定</span><i class="icon-arrow"></i> <span class="arrow "></span>
    </a>
    <ul class="sub-menu">
      <li>
        <a href="#" data-turbolinks="false">
          <i class="fa fa-wrench"></i><span class="title">系统设定</span>
        </a>
      </li>
      <li>
        <a href="#" data-turbolinks="false">
          <i class="fa fa-wrench"></i><span class="title">页面设置</span>
        </a>
      </li>
    </ul>
  </li>
  <li class="main-navigation-menu-file">
    <a href="#" data-turbolinks="false">
      <i class="fa fa-paperclip "></i><span class="title"> 文件管理 </span>
    </a>
  </li>
</ul>