<%= javascript_include_tag 'js/app', 'data-turbolinks-track' => false, 'data-turbolinks-eval' => false %>

<script>
    jQuery(document).ready(function() {

        if(toastr){
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": true,
                "progressBar": false,
                "positionClass": "toast-top-center",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "0",
                "extendedTimeOut": "0",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };
            <% flash.each do |key, value| %>
            <% if value.present? %>
            toastr.<%= switch_key(key) %>('<%= value.html_safe %>');
            <% end %>
            <% end %>
            <%- flash.clear() -%>
        };

        Main.init();

        // 初始化日期控件
        // initDateRange();

        // 清空输入框
        // resetSearchInput();


    });

</script>
<%# end %>