<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- InstanceBeginEditable name="title" -->
    <title>LeyiCms</title>
    <!-- InstanceEndEditable -->
    <!-- start: META -->
    <meta charset="utf-8"/>
    <!--[if IE]>
    <meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1"/><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <!-- end: META -->
    <!-- start: MAIN CSS -->
<!--    <link rel="shortcut icon" type="image/ico" href="/favicon.ico"/>-->
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,200,100,800' rel='stylesheet' type='text/css'>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <style type="text/css">
    .main-navigation-menu-default > a{
      background: #e5e8ed !important;
      border-top: none !important;
      color: #2C2F3B;
    }
    ul{
      list-style:none;
    }
    ul.main-navigation-menu li ul.sub-menu-level2 {
      display: block;
    }
    ul.main-navigation-menu  .main-navigation-menu-default ul.sub-menu{
      display:block;
    }

    .main-navigation-menu .main-navigation-menu-default ul.sub-menu li:nth-child(1) a{
      background: #f1f3f6;
    }
    .nav-tabs > li.active a{
      min-height: 40px;
    }
  </style>
  <body>
    <%= render :partial => '/common/before' %>
    <div class="main-wrapper">
      <!-- start: MAIN CONTAINER -->
      <%= yield %>

      <!-- end: MAIN CONTAINER -->
    </div>
    <%= render :partial => '/common/scripts' %>
  </body>
</html>

<script type="text/javascript">
    $(document).ready(function(){
        // 菜单展开
        $("ul.main-navigation-menu  li.main-navigation-menu-default").addClass('open');
    });


</script>
